<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 p-0">
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav flex-column">
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Explore</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Featured</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">New</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Popular</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Deals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Pre-Orders</a>
            </li>
            <li class="nav-item">
							<hr class="text-white mt-3 mb-3" />
							<a class="nav-link text-white" href="#">Discover More</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="col-lg-10">
<div class="home__container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-3">
      <app-card
        gameCover="assets/bt-1.jpg"
        gameLabel="DIGITAL"
        gameType="DIGITAL | PS4"
        gamePrice="R$ 129,99"
      >
      </app-card>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
      <app-card
        gameCover="assets/bt-4.jpg"
        gameLabel="EXCLUSIVE"
        gameType="DISC | PS5"
        gamePrice="R$ 269,99"
      >
      </app-card>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
      <app-card
        gameCover="assets/ac-cover.jpg"
        gameLabel="BEST OF YEAR"
        gameType="DIGITAL | PS5"
        gamePrice="R$ 369,99"
      >
      </app-card>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
      <app-card
        gameCover="assets/bt-hardline.jpg"
        gameLabel="NEW"
        gameType="DIGITAL | PS3 PS4 PS5"
        gamePrice="R$ 369,99"
      >
      </app-card>
    </div>
  </div>
</div>

